In [1]:
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt
import matplotlib.ticker as tkr
from matplotlib.ticker import FuncFormatter 
#This will be used to create the pre planned events icon
from matplotlib.offsetbox import (OffsetImage, AnnotationBbox) 
from matplotlib._png import read_png 
from matplotlib.patches import Ellipse
import matplotlib.mlab as mlab
%matplotlib inline
import plotly.plotly as py
import seaborn as sns
import xml.etree.ElementTree as ET
import geopy.distance
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
import matplotlib as mpl
import datetime
import time 
import folium
from folium import plugins
sns.set()
pal = sns.hls_palette(10, h=.5)
sns.set_palette(pal)
pd.set_option('display.float_format', lambda x: '%.4f' % x)
from matplotlib.ticker import FuncFormatter 
from matplotlib.offsetbox import (OffsetImage, AnnotationBbox) 
from matplotlib._png import read_png
from matplotlib.patches import Ellipse
import matplotlib.mlab as mlab
import plotly.plotly as py

import networkx as nx
try:
    import pygraphviz
    from networkx.drawing.nx_agraph import graphviz_layout
except ImportError:
    try:
        import pydot
        from networkx.drawing.nx_pydot import graphviz_layout
    except ImportError:
        raise ImportError("import failed")

In [2]:
path ='Datasets/Trips_Data/2017TripsData'

trips_2017 = glob.glob(path + "/*.csv")
trips_data_frame = pd.DataFrame()
columns_name = ['rental_id','duration','bike_id','end_date','end_station_id','end_station_name','start_date',
             'start_station_id','start_station_name']
data_frame_lists = []

columns=list(range(9))
for read_trip in trips_2017:
    
    data_frame = pd.read_csv(read_trip,names=columns_name,usecols=columns,header=0, engine='python',
                     parse_dates=['start_date'],dayfirst=True,infer_datetime_format=True)
    data_frame_lists.append(data_frame)
trips_data_frame=pd.concat(data_frame_lists,ignore_index=True)
trips_data_frame = trips_data_frame.dropna(axis=0, how='any')
trips_data_frame = trips_data_frame.reset_index(drop=True)
trips_data_frame['hour'] = trips_data_frame['start_date'].dt.hour
trips_data_frame['day'] = trips_data_frame['start_date'].dt.day
trips_data_frame['month'] = trips_data_frame['start_date'].dt.month
trips_data_frame['year'] = trips_data_frame['start_date'].dt.year
trips_data_frame['quarter'] = trips_data_frame['start_date'].dt.quarter
trips_data_frame['day_of_week'] = trips_data_frame['start_date'].dt.dayofweek
trips_data_frame['weekday'] = trips_data_frame['start_date'].dt.weekday
trips_data_frame.head(12)

,rental_id,duration,bike_id,end_date,end_station_id,end_station_name,start_date,start_station_id,start_station_name,hour,day,month,year,quarter,day_of_week,weekday
0,71414840,780.0000,6324.0000,16/11/2017 17:49,173.0000,"Waterloo Road, South Bank",2017-11-16 17:36:00,199,"Great Tower Street, Monument",17,16,11,2017,4,3,3
1,71364210,300.0000,15155.0000,15/11/2017 08:08,24.0000,"British Museum, Bloomsbury",2017-11-15 08:03:00,65,"Gower Place , Euston",8,15,11,2017,4,2,2
2,71458500,720.0000,9436.0000,18/11/2017 10:49,206.0000,"New Road 1 , Whitechapel",2017-11-18 10:37:00,565,"Selby Street, Whitechapel",10,18,11,2017,4,5,5
3,71521376,1320.0000,5151.0000,21/11/2017 09:05,359.0000,"Butler Place, Westminster",2017-11-21 08:43:00,701,"Vicarage Crescent, Battersea",8,21,11,2017,4,1,1
4,71489373,780.0000,1270.0000,20/11/2017 07:55,610.0000,"Danvers Street, West Chelsea",2017-11-20 07:42:00,665,"Smugglers Way, Wandsworth",7,20,11,2017,4,0,0
5,71455551,360.0000,7066.0000,18/11/2017 02:49,24.0000,"British Museum, Bloomsbury",2017-11-18 02:43:00,214,"Endsleigh Gardens, Euston",2,18,11,2017,4,5,5
6,71474318,1200.0000,11946.0000,19/11/2017 12:52,356.0000,"South Kensington Station, South Kensington",2017-11-19 12:32:00,616,"Aintree Street, Fulham",12,19,11,2017,4,6,6
7,71493455,480.0000,13205.0000,20/11/2017 08:57,24.0000,"British Museum, Bloomsbury",2017-11-20 08:49:00,14,"Belgrove Street , King's Cross",8,20,11,2017,4,0,0
8,71437069,300.0000,8645.0000,17/11/2017 12:24,88.0000,"Bayley Street , Bloomsbury",2017-11-17 12:19:00,116,"Little Argyll Street, West End",12,17,11,2017,4,4,4
9,71362314,1560.0000,9720.0000,15/11/2017 07:50,556.0000,"Heron Quays DLR, Canary Wharf",2017-11-15 07:24:00,314,"Tyers Gate, Bermondsey",7,15,11,2017,4,2,2
10,71363362,420.0000,5908.0000,15/11/2017 07:54,88.0000,"Bayley Street , Bloomsbury",2017-11-15 07:47:00,14,"Belgrove Street , King's Cross",7,15,11,2017,4,2,2
11,71458299,780.0000,14053.0000,18/11/2017 10:41,692.0000,"Cadogan Close, Victoria Park",2017-11-18 10:28:00,499,"Furze Green, Bow",10,18,11,2017,4,5,5

In [3]:
trips_df = pd.DataFrame()
trips_df = trips_data_frame.groupby(['start_station_name','end_station_name']).size().reset_index(name = 'Number of Trips')
trips_df = trips_df.sort_values('Number of Trips', ascending = False)
trips_df["start_station_name"] = trips_df["start_station_name"].astype(str)
trips_df["end_station_namee"] = trips_df["end_station_name"].astype(str)
trips_df["Trip"] = trips_df["start_station_name"] + " to " + trips_df["end_station_name"]
trips_df = trips_df[:10]
trips_df = trips_df.drop(['start_station_name', "end_station_name"], axis = 1)
trips_df = trips_df.reset_index()
trips_df.head()

,index,Number of Trips,end_station_namee,Trip
0,174423,23775,"Hyde Park Corner, Hyde Park","Hyde Park Corner, Hyde Park to Hyde Park Corne..."
1,13787,15411,"Aquatic Centre, Queen Elizabeth Olympic Park","Aquatic Centre, Queen Elizabeth Olympic Park t..."
2,6498,12257,"Albert Gate, Hyde Park","Albert Gate, Hyde Park to Albert Gate, Hyde Park"
3,37909,12195,"Black Lion Gate, Kensington Gardens","Black Lion Gate, Kensington Gardens to Black L..."
4,339023,11005,"Triangle Car Park, Hyde Park","Triangle Car Park, Hyde Park to Triangle Car P..."

One can find the most popular start up and drop off staions by aggregating the the dataset by start and end station names.

In [4]:

# def trip_stations(trip_data):
#     # Number of times a station was the start station. Holds a dict with the station_id
#     # as its key and the number of times the station was the starting point of the trip
#     # as the value.
#     station_outgoing = trip_data.groupby("start_station_name").size().to_dict()

#     # Number of times a station was the end station. Again a dict similar to above.
#     station_incoming = trip_data.groupby("end_station_name").size().to_dict()
    
#     return (station_outgoing, station_incoming)

In [7]:
trips_start_to_end = pd.DataFrame()
trips_start_to_end = trips_data_frame.groupby(['end_station_name', 'start_station_name']).size().reset_index(name = 'Total_rides')
trips_start_to_end = trips_start_to_end.sort_values('Total_rides', ascending = False)
trips_start_to_end['start_station_name'] = trips_start_to_end['start_station_name'].astype(str)
trips_start_to_end['end_station_name'] = trips_start_to_end['end_station_name'].astype(str)
trips_start_to_end['Rides'] = trips_start_to_end['start_station_name'] + ' to ' + trips_start_to_end['end_station_name']
trips_start_to_end = trips_start_to_end[:20]
trips_start_to_end = trips_start_to_end.drop(['start_station_name', 'end_station_name'], axis = 1)
trips_start_to_end = trips_start_to_end.reset_index()
trips_start_to_end.head()

    index  Total_rides                                              Rides
0  173853        23775  Hyde Park Corner, Hyde Park to Hyde Park Corne...
1   13838        15411  Aquatic Centre, Queen Elizabeth Olympic Park t...
2    6525        12257   Albert Gate, Hyde Park to Albert Gate, Hyde Park
3   37945        12195  Black Lion Gate, Kensington Gardens to Black L...
4  338835        11005  Triangle Car Park, Hyde Park to Triangle Car P...

In [8]:
axes = sns.barplot('Total_rides','Rides', data = trips_data_frame)
axes.set_title('Popular pickups and drop-offs', fontsize = 20)
axes.set_ylabel("Rides start and end stations",fontsize=16)
axes.set_xlabel("Total rides",fontsize=16)
for index, row in trips_data_frame.iterrows():
    axes.text(row['Total_rides'],index,row['Total_rides'], 
             color='b', ha="center",fontsize = 10)
plt.show()

ValueError: Could not interpret input 'Total_rides'

In [ ]:
times = time.time()
trips_data_frame['ride_date'] = pd.Series(map(lambda x: x.astype('datetime64[D]'), trips_data_frame['start_date'].values))
time.time() - times

In [ ]:
trips_data_frame.info()

In [ ]:
def thousands_format(x, pos):
    return '{:.0f}{}'.format(x * 1e-3, 'K')

In [ ]:
groupByDate = trips_data_frame.groupby('ride_date')['rental_id'].count()
groupByDate.head()

In [ ]:
groupByDate['2017-03-01':'2017-03-30']

In [ ]:
fig = plt.figure()
fig, ax = plt.subplots(figsize=(15,8))
ax = groupByDate.plot(figsize = (16, 8), fontsize = 12, ylim  = (1000, 50000), color = 'c')

formatter = FuncFormatter(thousands_format)
ax.yaxis.set_major_formatter(formatter)
gap = ax.title
gap.set_position([.5, 1.05])
plt.title('Total Number of Trips by Month with Annotation of Pre-Planned Events and Bank Holidays', fontsize=20, fontweight='bold')
plt.tick_params(labelsize=14)
plt.xticks(['2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11', '2017-12'], ['1 Jan', '1 Feb', '1 Mar','1 Apr', '1 May', '1 Jun','1 Jul', '1 Aug', '1 Sep','1 Oct','1 Nov','1 Dec','31 Dec']);
 
ax.set_ylim([0,50000]),

image1 = read_png('Datasets/icons/Leave.png')
image2 = read_png('Datasets/icons/Winter.png')
image3 = read_png('Datasets/icons/Snow.png')
image4 = read_png('Datasets/icons/Summer.png')
image5 = read_png('Datasets/icons/Rainbow.png')
image6 = read_png('Datasets/icons/Christmas.png')
imagebox = OffsetImage(image2, zoom=0.7) 
xy = ['2017-01-01', 40000] 
ab = AnnotationBbox(imagebox, xy, xybox=(5., 7.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)
imagebox = OffsetImage(image3, zoom=0.7) 
xy = ['2017-02-01', 12000] 
ab = AnnotationBbox(imagebox, xy, xybox=(5., 7.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)
imagebox = OffsetImage(image3, zoom=0.7) 
xy = ['2017-02-11',8500] 
ab = AnnotationBbox(imagebox, xy, xybox=(5., 7.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)
imagebox = OffsetImage(image1, zoom=0.7) 
xy = ['2017-04-14', 19000] 
ab = AnnotationBbox(imagebox, xy, xybox=(5., 7.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)

imagebox = OffsetImage(image1, zoom=0.7) 
xy = ['2017-04-17', 19000] 
ab = AnnotationBbox(imagebox, xy, xybox=(5., 7.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)
imagebox = OffsetImage(image1, zoom=0.7) 
xy = ['2017-05-01', 18000] 
ab = AnnotationBbox(imagebox, xy, xybox=(5., 7.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)

imagebox = OffsetImage(image1, zoom=0.7) 
xy = ['2017-05-29', 17000] 
ab = AnnotationBbox(imagebox, xy, xybox=(5., 7.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)

imagebox = OffsetImage(image5, zoom=0.7) 
xy = ['2017-06-27', 47000] 
ab = AnnotationBbox(imagebox, xy, xybox=(5., 7.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)

imagebox = OffsetImage(image4, zoom=0.6) 
xy = ['2017-07-10', 44000] 
ab = AnnotationBbox(imagebox, xy, xybox=(18., 2.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)


imagebox = OffsetImage(image1, zoom=0.6)
xy = ['2017-07-27', 11000] 
ab = AnnotationBbox(imagebox, xy, xybox=(22., 10.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False) #padding around the image
ax.add_artist(ab)

imagebox = OffsetImage(image1, zoom=0.7) 
xy = ['2017-12-11', 26000] 
ab = AnnotationBbox(imagebox, xy, xybox=(5., 7.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)
imagebox = OffsetImage(image6, zoom=0.6) 
xy = ['2017-12-25', 27000] 
ab = AnnotationBbox(imagebox, xy, xybox=(10., 5.), xycoords='data', boxcoords='offset points', pad=0.1, frameon=False)
ax.add_artist(ab)

plt.xlabel('Months', fontsize=16, fontweight='bold')
plt.ylabel('Number of Riders', fontsize=16, fontweight='bold')
plt.show()

In [ ]:
def millions_format(x, pos):
    return '{:.01f}{}'.format(x * 1e-6, 'M')

In [ ]:
def thousands_format(x, pos):
    return '{:.0f}{}'.format(x * 1e-3, 'K')

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
months = [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [ ]:
fig = plt.figure(figsize = (15,16))
formatter = FuncFormatter(millions_format)
plt.subplot(3,1,3)
axes3 = sns.countplot(trips_data_frame.month)
axes3.set_xticklabels(months)
axes3.yaxis.set_major_formatter(formatter)
plt.tick_params(labelsize=13)
gap = axes3.title
gap.set_position([.5, 1.05])
plt.title('Total Number of Trips by month', fontsize=18, fontweight='bold')
plt.xlabel('Month', fontsize=16, fontweight='bold')
plt.ylabel('Number of Riders', fontsize=16, fontweight='bold')

In [ ]:
daily_rides= trips_data_frame[['start_date','day_of_week']].groupby(['day_of_week']).size().reset_index(name='rides')
daily_rides['Percent of Rides']=round(daily_rides['rides']/trips_data_frame.shape[0]*100)
weeksDay={0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}
daily_rides['Day of Week'] = daily_rides['day_of_week'].map(weeksDay)
sns.set(style='ticks',color_codes=False)
sns.set_style('whitegrid')
fig, axes = plt.subplots(figsize=(12,5))
axes = sns.barplot(x="Day of Week",y="Percent of Rides",data=daily_rides)
plt.grid( which='major', axis='y', linestyle='--')
gap = axes.title
gap.set_position([.5, 1.05])
plt.title('Daily Percentage of Trips ', fontsize=18, fontweight='bold')
plt.xlabel('Day of Week', fontsize=16, fontweight='bold')
plt.ylabel('Percent of Rides', fontsize=16, fontweight='bold')
axes.yaxis.grid(True);

In [ ]:
duration= trips_data_frame[['duration','hour','day_of_week']].groupby(['hour','day_of_week'])['duration'].mean().reset_index(name='avg_duration')
duration['avg_duration'] = round(duration['avg_duration']/60)
duration['Day of Week'] = duration['day_of_week'].map(weeksDay)
fig, axes = plt.subplots(figsize=(15,6))

axes = sns.pointplot(x="hour", y="avg_duration", hue="Day of Week",data=duration)
axes.set_xlim([0,23])
gap = axes.title
gap.set_position([.5, 1.05])
plt.title('Average Trip Duration', fontsize=18, fontweight='bold')
plt.xlabel('Hours', fontsize=16, fontweight='bold')
plt.ylabel('Average Duration in Minutes', fontsize=16, fontweight='bold')
axes.grid(True);

In [ ]:
df_plt3 = trips_data_frame.pivot_table('rental_id', aggfunc='count', index='start_station_name', columns='end_station_name')
df_plt3.shape

In [ ]:
 
from scipy import stats
from scipy.stats import skew, kurtosis
from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stat
import scipy.stats as st
import sklearn
from sklearn import metrics, model_selection
corrmat = df_plt3.corr('spearman')

In [ ]:
fig = plt.figure(figsize = (12,15))
formatter = FuncFormatter(millions_format)
plt.subplot(3,1,2)
axes2 = sns.countplot(trips_data_frame.weekday, order = range(7))
axes2.set_xticklabels(weekdays)
axes2.yaxis.set_major_formatter(formatter)
plt.tick_params(labelsize=13)
gap = axes2.title
gap.set_position([.5, 1.05])
plt.title('Total Number of Trips by Day of the Week', fontsize=18, fontweight='bold')
plt.xlabel('Day of Week', fontsize=14, fontweight='bold')
plt.ylabel('Number of Riders', fontsize=16, fontweight='bold')

In [ ]:
formatter = FuncFormatter(thousands_format)
hourly_rides= trips_data_frame[['start_date','hour','day_of_week']].groupby(['hour','day_of_week']).size().reset_index(name='rides')
dayOfWeek={0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}
hourly_rides['Day of Week'] = hourly_rides['day_of_week'].map(dayOfWeek)
fig, axes = plt.subplots(figsize=(15,6))
axes = sns.pointplot(x="hour", y="rides", hue="Day of Week",data=hourly_rides)
axes.yaxis.set_major_formatter(formatter)
gap = axes.title
gap.set_position([.5, 1.05])
axes.set_ylim([0,230000]),axes.set_xlim([0,23]),axes.set_xlabel('Hours', fontsize=16, fontweight='bold'), axes.set_ylabel('Number of Riders', fontsize=16, fontweight='bold')
plt.title('Total Number of Trips Between 1st of Jan 2017 to 31st of Dec 2017', fontsize=18, fontweight='bold')
 
axes.grid(True);

In [ ]:
fig = plt.figure(figsize = (15,16))
formatter = FuncFormatter(millions_format)

plt.subplot(3,1,1) 
axes1 = sns.countplot(trips_data_frame.hour, order = range(24))
axes1.yaxis.set_major_formatter(formatter)
plt.tick_params(labelsize=13)
gap = axes1.title
gap.set_position([.5, 1.05])
plt.title('Total Number of Trips Between 1st of Jan 2017 to 31st of Dec 2017', fontsize=18, fontweight='bold')
plt.xlabel('Hours', fontsize=16, fontweight='bold')
plt.ylabel('Number of Riders', fontsize=16, fontweight='bold')

plt.show()

In [ ]:
print ("Total trips in 2017: {:,}".format(trips_data_frame.shape[0]))
print("Average trip duration in 2017: "+str(round(trips_data_frame['duration'].mean()/60))+" minutes")
df_stations = pd.concat([trips_data_frame['end_station_name'],trips_data_frame['start_station_name']])
print("Total number of unique docking stations: "+str(df_stations.nunique()))
print("Total number of unique bikes in operation: {:,}".format((trips_data_frame['bike_id'].nunique())))

In [ ]:
trips_poplar = pd.DataFrame()
trips_poplar = trips_data_frame.groupby(['end_station_name', 'start_station_name']).size().reset_index(name = 'Total_rides')
trips_poplar = trips_poplar.sort_values('Total_rides', ascending = False)
trips_poplar['start_station_name'] = trips_poplar['start_station_name'].astype(str)
trips_poplar['end_station_name'] = trips_poplar['end_station_name'].astype(str)
trips_poplar = trips_poplar[:20]
trips_poplar = trips_poplar.reset_index()
trips_poplar.head()

In [ ]:
data = open('Datasets/stations.xml').read()
xml_root = ET.XML(data) 
all_stations = []
for i, child_node in enumerate(xml_root):
    stations = {}
    for child in child_node:
        stations[child.tag] = child.text
    all_stations.append(stations)
stations = pd.DataFrame(all_stations)
stations = pd.DataFrame(all_stations)
stations['coords'] = list(zip(stations.lat, stations.long))
stations = stations[['id','name','coords']]

In [ ]:
stations.head()

In [ ]:
count_stations = trips_data_frame.groupby(['start_station_name','end_station_name']).size().reset_index(name='rides')
stations_rides_network = pd.merge(count_stations, stations, how='inner', left_on=['start_station_name'], right_on=['name'])
stations_rides_network = pd.merge(stations_rides_network, stations, how='inner', left_on=['end_station_name'], right_on=['name'])
stations_rides_network = stations_rides_network[['start_station_name','end_station_name','rides','coords_x','coords_y']]
stations_rides_network['distribution'] = stations_rides_network.apply(lambda row: geopy.distance.vincenty(row['coords_x'], row['coords_y']).miles, axis=1)
stations_rides_network.head()

In [ ]:
network = nx.Graph()

count_stations1 = count_stations.loc[count_stations['rides']>=25]
for index, row in count_stations1.iterrows():
    network.add_edge(row['start_station_name'], row['end_station_name'])

In [ ]:
network = nx.Graph()
limit_stations = count_stations.loc[count_stations['rides'] >= 201]
limit_stations['rides'] = limit_stations['rides'].clip(upper=2500)
for index, row in limit_stations.iterrows():
    network.add_edge(row['start_station_name'], row['end_station_name'],weight=row['rides'])
remove = [node for node,degree in network.degree() if degree <=30]
network.remove_nodes_from(remove)
remove = [node for node,degree in network.degree() if degree <=2]
network.remove_nodes_from(remove)

In [ ]:
plt.subplots(figsize=(12,12))
edges,weights = zip(*nx.get_edge_attributes(network,'weight').items())
pos = graphviz_layout(network, prog="twopi")
nx.draw(network, pos, node_color='red',node_size=0.4, edgelist=edges, edge_color=weights, width=1, edge_cmap=plt.cm.Wistia)
nx.draw_networkx_labels(network,pos=pos,font_size=9)
sm = plt.cm.ScalarMappable(cmap=plt.cm.Wistia)
sm._A = []
sm.set_clim(min(weights), max(weights))
cbar = plt.colorbar(sm,fraction=0.02, pad=0.04)
cbar.set_label('Top 2500 Trips')
plt.tight_layout();
plt.title('Bike Networks', fontsize=20, fontweight='bold')

In [ ]:
trips_poplar.columns

In [ ]:
world_map = ["Stamen Terrain", "Stamen Toner", "Mapbox Bright"]
map_world = folium.Map(location=[51.5074, 0.1278],
                        tiles = "Stamen Terrain",
                        zoom_start = 12)
map_world

In [ ]:
 stations.head()

In [ ]:
stations2[['lat','long']] = stations2[['lat','long']].apply(pd.to_numeric)

In [ ]:
stations2.head()

In [ ]:
locations = stations2[['lat', 'long']]
locationlist = locations.values.tolist()
len(locationlist)
locationlist[117]

In [ ]:
len(locationlist)

In [ ]:
world_map = folium.Map(location=[51.52, -0.17], zoom_start=12)
for coord in range(0, len(locationlist)):
    folium.Marker(locationlist[coord], popup=stations2['terminalName'][coord]).add_to(world_map)
world_map

In [ ]:
stations2.info()

In [ ]:
stations_count = trips_data_frame.groupby(['start_station_name','end_station_name']).size().reset_index(name='rides')
stations_rides_network1 = pd.merge(stations_count, stations2, how='inner', left_on=['start_station_name'], right_on=['name'])
stations_rides_network1 = pd.merge(stations_rides_network, stations2, how='inner', left_on=['end_station_name'], right_on=['name'])

In [ ]:
map = folium.Map([51.54, -0.078], zoom_start=20)

for index, row in stations2.iterrows():
    folium.CircleMarker([row['lat'], row['long']],
                        radius=3,
                        popup=row['terminalName'],
                        fill_color="#e43d53",
                       ).add_to(map)

In [ ]:
station_list = stations2[['lat', 'long']].as_matrix()


map.add_children(plugins.HeatMap(station_list, radius=30))
map